<%- include('./header.ejs') %>

<div class="container main-container">  <!-- mix and matcch-->
    <div class="row">
        <img class="main-image" src="https://www.rappler.com/tachyon/2024/01/jollibee-1280x720-1.jpg" alt="Mix and Match in Jabilee" height="700">
    </div>


        <div class="row mt-5 text-center first-menu-column">
            <div class="col-7 best-seller-css">
                <img class="img-products-2" src="https://jb-ph-cdn.tillster.com/prod/Carousel/FA-JB_PH_INCREASE_SPOTLIGHT_TILE_792x240_opt.jpg_c6a6a29b-bdcd-4980-9f29-bc7e92977b20.jpg" alt="best-sellers">
            </div>
            <div class="col-5 best-seller-css">
                <img class="img-products-3" src="https://jb-ph-cdn.tillster.com/prod/Carousel/0416_JBPH-NEW-PROD-THUMBNAIL-OCTOBER-764X490PX-2024-FA_opt.webp_4a94ce2e-45b7-456f-b05b-1bd86145f5fa.webp" alt="new-products">
            </div>
        </div>

        <div class="row mt-2 second-menu-column">
                <div class="col-4 products-container">
                    <img class="mx-3 img-products-family-meal" src="https://jb-ph-cdn.tillster.com/qa/Carousel/JB_PH_INCREASE_FAMILY_MEALS_TILE_FA_736x490_opt.jpg_0f513f1c-9b7a-49ee-8c66-f4ddf0e06266.jpg" alt="family meal">
                </div>
                <div class="col-4  products-container">
                    <img class="mx-3 img-products-chickenjoy" src="https://jb-ph-cdn.tillster.com/prod/Carousel/FA-JB_PH_INCREASE_CHICKENJOY_TILE_384x240_opt.jpg_cf81a220-9c12-4ffa-ac62-cd26708fe922.jpg" alt="Chicken joy">
                </div>
                <div class="col-4 products-container">
                    <img class="mx-3 img-products-burger" src="https://jb-ph-cdn.tillster.com/qa/Carousel/JB_PH_INCREASE_BURGER_TILE_FA_736x490_opt.jpg_0bca19df-8933-445c-8b2b-9a8a1f23d796.jpg" alt="Burger">
                </div>
        </div>

    <div class="row mt-5">
        <div class="d-flex justify-content-center col py-4">
            <a href="/Menu"><Button type="button" class="btn btn-warning btn-lg">View Full Menu</Button></a>
        </div>
    </div>
</div>

<%- include('./footer.ejs') %>

